@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;     
}

:root{
    --white: #ffffff;
    /* FONTS */ 
    --ff-montserrat: 'Montserrat', sans-serif;
}

html, body{ min-height: 100vh; }

body{    
    background: var(--white);
    overflow-x: hidden;
    position: relative;
    font-family: var(--ff-montserrat);
    scroll-behavior: smooth;
    user-select: none;
}

button{ 
    cursor: pointer;
    transition: all 0.3s linear;
}

img {
    width: 100%;
    display: block;
}

.attribution{    
    width: 100%;    
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    font-family: var(--ff-montserrat);
    color: var(--footer-color);
    padding-top: 30px;
}

.attribution a{
    color: var(--footer-color);
}

.attribution a:first-child{
    font-weight: 700;    
}